In [1]:
import pandas as pd
df1 = pd.read_csv('City_zhvi_bdrmcnt_1_uc_sfrcondo_tier_0.33_0.67_sm_sa_mon.csv')
df2 = pd.read_csv('City_zhvi_bdrmcnt_2_uc_sfrcondo_tier_0.33_0.67_sm_sa_mon.csv')
df3 = pd.read_csv('City_zhvi_bdrmcnt_3_uc_sfrcondo_tier_0.33_0.67_sm_sa_mon.csv')
df4 = pd.read_csv('City_zhvi_bdrmcnt_4_uc_sfrcondo_tier_0.33_0.67_sm_sa_mon.csv')
df5 = pd.read_csv('City_zhvi_bdrmcnt_5_uc_sfrcondo_tier_0.33_0.67_sm_sa_mon.csv')
df = [df1,df2,df3,df4,df5]

In [4]:
cities = ['San Francisco', 'Berkeley', 'Mountain View', 'Palo Alto', 'Foster City', 'Sunnyvale']

In [3]:
def clean_room_type(df, numRoom):
    res = df
    res['house_type']= numRoom
    time_series = df.loc[:,'2015-01-31':'2020-12-31']
    city_room = df.loc[:,['RegionName', 'StateName','house_type']]
    res = pd.concat([time_series, city_room.reindex(time_series.index)], axis=1)
    res = res.loc[(res['RegionName'].isin(cities)) & (res['StateName'] == 'CA')]
    res = res.melt(id_vars=["RegionName", "StateName", "house_type"], 
        var_name="Date", 
        value_name="Value")
    res[['year','month','date']] = res.Date.str.split("-",expand=True,)
    res['time'] = res['Date'].str.slice(0,7)
    res = res.drop(['Date','date'], axis=1) 
    res.rename({'RegionName':'city', 'Value':'price', 'StateName': 'state'}, axis=1, inplace=True)
    return res

In [4]:
i = 1
final = []
for d in df:
    tmp = clean_room_type(d, i)
    i += 1
    final.append(tmp)
res = pd.concat(final)
res

              city state  house_type      price  year month     time
0    San Francisco    CA           1   772531.0  2015    01  2015-01
1        Sunnyvale    CA           1   532350.0  2015    01  2015-01
2         Berkeley    CA           1   489258.0  2015    01  2015-01
3    Mountain View    CA           1   534448.0  2015    01  2015-01
4        Palo Alto    CA           1  1126590.0  2015    01  2015-01
..             ...   ...         ...        ...   ...   ...      ...
427      Sunnyvale    CA           5  2413526.0  2020    12  2020-12
428       Berkeley    CA           5  2208761.0  2020    12  2020-12
429  Mountain View    CA           5  3157406.0  2020    12  2020-12
430      Palo Alto    CA           5  4619062.0  2020    12  2020-12
431    Foster City    CA           5  2176664.0  2020    12  2020-12

[2160 rows x 7 columns]

In [5]:
## res.to_csv('house_type_and_price.csv',index=False)

In [1]:
import pandas as pd
newdf = pd.read_csv('RDC_Inventory_Core_Metrics_Metro_History.csv')
newdf.rename({'month_date_yyyymm': 'time', 'cbsa_title': 'area'}, axis=1, inplace=True)
newdf

,time,cbsa_code,area,HouseholdRank,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,...,median_square_feet_yy,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy
0,202103,35620,"new york-newark-jersey city, ny-nj-pa",1,628500.0,-0.0016,0.1046,53371,-0.0061,-0.1688,...,0.1146,1.306627e+06,-0.0012,0.1797,79332,-0.0294,-0.0250,0.486425,-0.0356,0.2192
1,202103,31080,"los angeles-long beach-anaheim, ca",2,1198500.0,0.0118,0.2484,12743,-0.0163,-0.1966,...,-0.0073,2.833381e+06,0.0041,0.2674,28121,0.0372,-0.0219,1.206780,0.1138,0.3942
2,202103,16980,"chicago-naperville-elgin, il-in-wi",3,365000.0,0.0283,0.1113,15357,-0.0307,-0.4818,...,-0.1772,5.884170e+05,0.0290,0.2381,36713,0.0623,-0.2569,1.390636,0.2093,0.7237
3,202103,19100,"dallas-fort worth-arlington, tx",4,383450.0,0.0273,0.1196,5596,-0.1023,-0.6900,...,-0.0761,6.629477e+05,0.0483,0.3783,18444,-0.0330,-0.3892,2.295926,0.2364,1.6233
4,202103,26420,"houston-the woodlands-sugar land, tx",5,354500.0,0.0407,0.1326,12449,-0.1218,-0.5235,...,-0.0668,5.545724e+05,0.0548,0.2239,28010,-0.0357,-0.2634,1.249980,0.2010,0.7943
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52264,201607,46900,"vernon, tx",913,139000.0,NaN,NaN,3,NaN,NaN,...,NaN,1.728000e+05,NaN,NaN,5,NaN,NaN,0.666667,NaN,NaN
52265,201607,18780,"craig, co",914,175000.0,NaN,NaN,186,NaN,NaN,...,NaN,2.134051e+05,NaN,NaN,208,NaN,NaN,0.118280,NaN,NaN
52266,201607,29500,"lamesa, tx",915,101900.0,NaN,NaN,11,NaN,NaN,...,NaN,1.304111e+05,NaN,NaN,13,NaN,NaN,0.181818,NaN,NaN
52267,201607,49820,"zapata, tx",916,128000.0,NaN,NaN,27,NaN,NaN,...,NaN,1.290893e+05,NaN,NaN,27,NaN,NaN,0.000000,NaN,NaN
52268,201607,37780,"pecos, tx",917,169900.0,NaN,NaN,5,NaN,NaN,...,NaN,1.019750e+05,NaN,NaN,6,NaN,NaN,0.200000,NaN,NaN

In [2]:
regions = ['san francisco-oakland-hayward, ca', 
           'san jose-sunnyvale-santa clara, ca'
          ]
newres = newdf.loc[(newdf['area'].isin(regions))]
newres

,time,cbsa_code,area,HouseholdRank,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,...,median_square_feet_yy,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy
10,202103,41860,"san francisco-oakland-hayward, ca",11,1049500.0,0.0285,0.0938,3474,0.0392,-0.1245,...,-0.1361,2021474.351,0.0867,0.2556,8440,0.0896,0.0427,1.429476,0.1124,0.3897
35,202103,41940,"san jose-sunnyvale-santa clara, ca",36,1243000.0,0.0119,0.0077,1135,0.0998,-0.0061,...,-0.1069,1964597.579,0.0034,0.0186,3016,0.1717,0.2577,1.657269,0.1631,0.5574
927,202102,41860,"san francisco-oakland-hayward, ca",11,1020444.0,0.0308,0.0753,3343,0.0392,-0.0429,...,-0.1441,1860227.660,0.0204,0.1254,7746,0.1187,0.0864,1.317080,0.1648,0.2759
952,202102,41940,"san jose-sunnyvale-santa clara, ca",36,1228400.0,0.0246,0.0238,1032,0.0672,0.1037,...,-0.1348,1957966.972,0.0091,-0.0232,2574,0.1780,0.2661,1.494186,0.2346,0.3199
1844,202101,41860,"san francisco-oakland-hayward, ca",11,990000.0,-0.0050,0.0909,3217,-0.2140,0.1827,...,-0.1429,1823109.195,0.0906,0.0166,6924,-0.2171,0.3531,1.152316,-0.0084,0.2711
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49553,201609,41940,"san jose-sunnyvale-santa clara, ca",36,899975.0,NaN,NaN,1915,NaN,NaN,...,NaN,1367759.967,NaN,NaN,3688,NaN,NaN,0.925849,NaN,NaN
50445,201608,41860,"san francisco-oakland-hayward, ca",11,797444.0,NaN,NaN,6069,NaN,NaN,...,NaN,1188858.666,NaN,NaN,11334,NaN,NaN,0.867523,NaN,NaN
50470,201608,41940,"san jose-sunnyvale-santa clara, ca",36,927587.5,NaN,NaN,1955,NaN,NaN,...,NaN,1396533.881,NaN,NaN,3759,NaN,NaN,0.922762,NaN,NaN
51362,201607,41860,"san francisco-oakland-hayward, ca",11,819000.0,NaN,NaN,6162,NaN,NaN,...,NaN,1248054.474,NaN,NaN,11455,NaN,NaN,0.858974,NaN,NaN
51387,201607,41940,"san jose-sunnyvale-santa clara, ca",36,950000.0,NaN,NaN,1964,NaN,NaN,...,NaN,1398357.671,NaN,NaN,3726,NaN,NaN,0.897149,NaN,NaN

In [5]:
## newres.to_csv('area_listing.csv',index=False)